<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link
            href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
            rel="stylesheet"
        />

        <style>
            .social-icon {
                color: #6b7280;
                transition: color 0.3s ease;
            }

            .social-icon:hover {
                color: #ffffff;
            }

            .social-icon svg {
                fill: currentColor;
            }
        </style>
    </head>
    <body class="bg-gray-900 text-white text-lg font-mono px-12">
        <nav
            class="
                bg-gray-900
                text-md
                uppercase
                flex
                items-center
                justify-between
                py-8
                space-x-4
                max-w-screen-xl
                mx-auto
            "
        >
            <div class="flex gap-6 items-center">
                <img
                    class="w-12 cursor-pointer"
                    src="/images/WE ARE CODERS LOGO.png"
                    alt="logo"
                />
                {{ nav from="pages" include_home="true" }}
                <a
                    href="{{ url }}"
                    class="p-2 block text-gray-400 hover:text-white"
                    >{{ title }}</a
                >
                {{ /nav }}
            </div>
            <div class="flex gap-6">
                <a href="#" class="w-6 cursor-pointer social-icon hover-effect">
                    <img src="/images/icon_dribbble.svg" alt="Dribbble" />
                </a>
                <a href="#" class="w-6 cursor-pointer social-icon hover-effect">
                    <img src="/images/icon_instagram.svg" alt="Instagram" />
                </a>
                <a href="#" class="w-6 cursor-pointer social-icon hover-effect">
                    <img src="/images/icon_medium.svg" alt="Medium" />
                </a>
                <a href="#" class="w-6 cursor-pointer social-icon hover-effect">
                    <img src="/images/icon_twitter.svg" alt="Twitter" />
                </a>
            </div>
        </nav>

        <div class="max-w-screen-xl mx-auto py-8">{{ template_content }}</div>
    </body>
</html>
