<div>
    <h2 class="text-4xl mt-16">Experts</h2>
</div>
<div class="mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div class="bg-gray-800 p-4 rounded">
        <div class="flex justify-center">
            <img src="/images/tick.png" class="w-10" alt="tick icon" />
        </div>
        <h3 class="mt-6 text-2xl">Your Goals & Audience</h3>
        <p class="mt-6 text-gray-400">
            Understanding your goals and target audience is our top priority. We
            work closely with you to ensure your website aligns with your
            business objectives and resonates with your audience.
        </p>
    </div>
    <div class="bg-gray-800 p-4 rounded">
        <div class="flex justify-center">
            <img src="/images/tick.png" class="w-10" alt="tick icon" />
        </div>
        <h3 class="mt-6 text-2xl">Website Planning</h3>
        <p class="mt-6 text-gray-400">
            Effective planning is the cornerstone of a successful website. We'll
            develop a comprehensive strategy, outlining the structure, content,
            and features to achieve your goals.
        </p>
    </div>
    <div class="bg-gray-800 p-4 rounded">
        <div class="flex justify-center">
            <img src="/images/tick.png" class="w-10" alt="tick icon" />
        </div>
        <h3 class="mt-6 text-2xl">Website Design</h3>
        <p class="mt-6 text-gray-400">
            Our design team creates visually stunning, user-friendly websites
            that reflect your brand’s identity and engage your visitors, making
            a lasting impression.
        </p>
    </div>
    <div class="bg-gray-800 p-4 rounded">
        <div class="flex justify-center">
            <img src="/images/tick.png" class="w-10" alt="tick icon" />
        </div>
        <h3 class="mt-6 text-2xl">Website Development</h3>
        <p class="mt-6 text-gray-400">
            Using the latest technologies, our developers bring the design to
            life, ensuring your website is fast, responsive, and secure.
        </p>
    </div>
    <div class="bg-gray-800 p-4 rounded">
        <div class="flex justify-center">
            <img src="/images/tick.png" class="w-10" alt="tick icon" />
        </div>
        <h3 class="mt-6 text-2xl">Testing & Launch</h3>
        <p class="mt-6 text-gray-400">
            Thorough testing guarantees your website works flawlessly across all
            devices. Once everything is perfect, we manage a smooth and
            successful launch.
        </p>
    </div>
    <div class="bg-gray-800 p-4 rounded">
        <div class="flex justify-center">
            <img src="/images/tick.png" class="w-10" alt="tick icon" />
        </div>
        <h3 class="mt-6 text-2xl">Continual Maintenence</h3>
        <p class="mt-6 text-gray-400">
            We offer ongoing support and maintenance to keep your website
            up-to-date, secure, and performing at its best, ensuring continued
            success.
        </p>
    </div>
</div>
