<div class="mt-16 grid grid-cols-1 md:grid-cols-2 gap-6">
    <div>
        <h2 class="text-5xl">Websites Tailored for YOUR Business</h2>
        <p class="mt-8 text-gray-400">
            Specialists in website design, brand development, and marketing
            campaigns, Bespoke is one of the UK’s most experienced digital
            marketing agencies. We aim to build a deep, long-term relationship
            with you, focusing on your business goals, brand exposure, and
            generating new business enquiries.
        </p>
        <p class="mt-8 text-gray-400">
            Your introduction to us typically involves a 20-30 minute video
            call, where we discuss your priorities, review your current website
            and campaigns, and identify key opportunities for your business.
        </p>
        <button
            class="
                mt-8
                bg-red-500
                text-white
                py-2
                px-6
                rounded-full
                hover:bg-red-600
                transition
                duration-300
                ease-in-out
            "
        >
            Learn more
        </button>
    </div>
    <div>
        <div>
            <img
                src="/images/home-cta.png"
                alt="we are coders call to action"
                class=""
            />
        </div>
    </div>
</div>
