<div>
    <h2 class="text-4xl mt-16">Our work</h2>
</div>
<div class="mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div class="bg-gray-800 p-4 rounded">
        <div class="flex justify-center">
            <img src="/images/fashion-website.png" class="" alt="tick icon" />
        </div>
        <h3>
            <span class="font-bold">E-commerce Success for Urban Trends.</span>
            <br />
        </h3>
        <p class="mt-2 text-gray-400">
            We revamped Urban Trends' online store, enhancing user experience
            and boosting sales by 40% with a sleek, responsive design and
            seamless checkout process.
        </p>
    </div>
    <div class="bg-gray-800 p-4 rounded">
        <div class="flex justify-center">
            <img
                src="/images/green-grocer-website.png"
                class=""
                alt="tick icon"
            />
        </div>
        <h3>
            <span class="font-bold"
                >Transforming Local Charm for Greenfield Grocers.</span
            >
        </h3>
        <p class="mt-2 text-gray-400">
            Greenfield Grocers needed a website that reflected their community
            roots and modern offerings. We delivered a vibrant, easy-to-navigate
            site that increased online engagement.
        </p>
    </div>
    <div class="bg-gray-800 p-4 rounded">
        <div class="flex justify-center">
            <img src="/images/financial-website.png" class="" alt="tick icon" />
        </div>
        <h3>
            <span class="font-bold"
                >Streamlining Services for Apex Financial.</span
            >
        </h3>
        <p class="mt-2 text-gray-400">
            Apex Financial required a professional, user-friendly platform to
            showcase their services. Our redesign improved client interaction
            and led to a 30% rise in enquiries.
        </p>
    </div>
    <div class="bg-gray-800 p-4 rounded">
        <div class="flex justify-center">
            <img src="/images/fitness-website.png" class="" alt="tick icon" />
        </div>
        <h3>
            <span class="font-bold"
                >Enhancing User Experience for Fitness Fusion.</span
            >
        </h3>
        <p class="mt-2 text-gray-400">
            Fitness Fusion wanted a dynamic website to match their energetic
            brand. Our design provided a seamless user experience, resulting in
            a 35% increase in membership sign-ups.
        </p>
    </div>
    <div class="bg-gray-800 p-4 rounded">
        <div class="flex justify-center">
            <img src="/images/costal-website.png" class="" alt="tick icon" />
        </div>
        <h3>
            <span class="font-bold"
                >Boosting Visibility for Coastal Realty.</span
            >
        </h3>
        <p class="mt-2 text-gray-400">
            We crafted a visually stunning, mobile-friendly website for Coastal
            Realty, enhancing property listings and increasing their online
            visibility by 50%.
        </p>
    </div>
    <div class="bg-gray-800 p-4 rounded">
        <div class="flex flex-wrap justify-center">
            <img src="/images/bakery-website.png" class="" alt="tick icon" />
        </div>
        <h3>
            <span class="font-bold"
                >Modernising Tradition for Heritage Bakery.</span
            >
        </h3>
        <p class="mt-2 text-gray-400">
            Heritage Bakery needed a fresh online presence while retaining their
            classic charm. Our redesign honoured their legacy and attracted a
            new generation of customers.
        </p>
    </div>
</div>
