<div>
    <h2 class="text-4xl mt-16">Our work</h2>
</div>
<div class="mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div class="bg-gray-800 p-4 rounded">
        <div class="flex justify-center">
            <img src="/images/website-example.png" class="" alt="tick icon" />
        </div>

        <p class="mt-2 text-gray-400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
        </p>
    </div>
    <div class="bg-gray-800 p-4 rounded">
        <div class="flex justify-center">
            <img src="/images/website-example.png" class="" alt="tick icon" />
        </div>

        <p class="mt-2 text-gray-400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
        </p>
    </div>
    <div class="bg-gray-800 p-4 rounded">
        <div class="flex justify-center">
            <img src="/images/website-example.png" class="" alt="tick icon" />
        </div>

        <p class="mt-2 text-gray-400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
        </p>
    </div>
    <div class="bg-gray-800 p-4 rounded">
        <div class="flex justify-center">
            <img src="/images/website-example.png" class="" alt="tick icon" />
        </div>

        <p class="mt-2 text-gray-400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
        </p>
    </div>
    <div class="bg-gray-800 p-4 rounded">
        <div class="flex justify-center">
            <img src="/images/website-example.png" class="" alt="tick icon" />
        </div>

        <p class="mt-2 text-gray-400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
        </p>
    </div>
    <div class="bg-gray-800 p-4 rounded">
        <div class="flex flex-wrap justify-center">
            <img src="/images/website-example.png" class="" alt="tick icon" />
        </div>

        <p class="mt-2 text-gray-400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
        </p>
    </div>
</div>
