@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This is all you. */

.xtraHuge {
    font-size: 12rem;
}

.social-icon img {
    transition: filter 0.3s ease;
}

.social-icon:hover img {
    filter: grayscale(100%);
}

.text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
