<h2 class="mt-16">Recent Blog Posts</h2>
<section class="mt-16 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4"">
    
    {{slot}} {{ collection:blog limit="5" }}
    <div class="">
       
            <a
            href="{{ url }}"
            class="
                flex
                justify-between
                p-5
                text-white
                hover:text-gray-900
                hover:bg-red-400
                flex 
                flex-col
            "
        >
        <img src="{{ featured_image }}" alt="blog featured image" />
            <span>{{ title }}</span>
            <span class="text-white text-sm  hover:text-gray-900">{{ date }}</span>
        </a>
    </div>
 
    {{ /collection:blog }}
</section>
